# Lesson 5 : Introduction to SQL Part 2

### Joins
![SQL part 2](./images/3.7.png)
![SQL part 2](./images/5.1.png)

### Natural join
![SQL part 2](./images/5.2.png)
![SQL part 2](./images/5.3.png)
Natural join এ where ক্লোজ ব্যাবহার না করেও সেম রেজাল্ট পাওয়া যায় । 
![SQL part 2](./images/5.4.png)
incorrect version এ প্রথম ২টা টেবিলকে ন্যাচারাল জয়েন করে এরপর নেক্সট টেবিলের সাথে ন্যাচারাল জয়েন করে   
correct version এ প্রথম ২টা েবিলকে ন্যাচারাল জয়েন করে এরপর নেক্সট টেবিলকে আলাদা টেবিল হিসেবে ট্রিট করে 

### Rename operation
![SQL part 2](./images/5.5.png)